# 1. Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ") # taking input from user

# converting sentence to lowercase
sentence = sentence.lower()

# splitting sentence into words
words = sentence.split()

# removing duplicates using set
unique_words = set(words)

# printing results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'and', 'python', 'powerful', 'is', 'easy'}

# 2. Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# assume first employee as highest
highest_name = ""
highest_salary = 0

# checking each employee
for name in employees:
    salary = employees[name]
    
    if salary > highest_salary:
        highest_salary = salary
        highest_name = name

print("Highest Salary:", highest_name, "-", highest_salary)

Highest Salary: Ravi - 75000

# 3. Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

# assume first element as max and min
max_val = numbers[0]
min_val = numbers[0]

# checking each number
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

# printing results
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# 4. Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0

# checking each price
for price in prices:
    if price > 1000:
        count = count + 1

print("Products above 1000:", count)

Products above 1000: 2

# 5. Calculate Attendance Percentage

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

# counting present days
for day in attendance:
    if day == "P":
        present_count = present_count + 1

# total days
total_days = len(attendance)

# calculating percentage
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

# 6. Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# removing duplicates using set
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# 7. Count Character Frequency

In [10]:
text = "pythonn"

char_count = {}

# checking each character
for ch in text:
    if ch in char_count:
        char_count[ch] = char_count[ch] + 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2}

# 8. Convert List to Tuple

In [11]:
numbers = [10, 20, 30]

# converting list to tuple
result = tuple(numbers)

# printing result
print("Tuple:", result)

Tuple: (10, 20, 30)

# 9. Check if a Key Exists in a Dictionary

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = "Ravi"   # key to check

# checking if key exists
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# 10. Calculate Average Marks

In [13]:
marks = [60, 70, 80, 80]   # marks

total = 0

# finding total marks
for m in marks:
    total = total + m

# calculating average
average = total / len(marks)

# result
print("Average Marks:", average)

Average Marks: 72.5